{% extends "layout.html" %}

{% block title %}Analysis{% endblock %}
{% block lead %}Keep it simple to have it simple.{% endblock %}

{% block page_content %}

<h1>Analysis</h1>
<p>
    Some important text in simple file that is <b>bold</b>
    And some other text that is simple.
</p>

<div class="row">
    <div class="sidenav">
        <div style="text-align: center;">Analysis</div>
        <a href="#">&gt; Subsection1</a>
        <a href="#">&gt; Subsection2</a>
        <a href="#">&gt; Subsection3</a>
    </div>
  </div>
<img src="https://static.igem.wiki/teams/4811/wiki/apatmerpfoadynamics.gif" alt="Apatmer Pfoa">
{% endblock %}
