{% extends "layout.html" %}

{% block page_content %}
<div class="page">

    <!-- Change This Header -->
    <div class="page-header" style="background-image: url('https://static.igem.wiki/teams/4811/wiki/images/header-project-03.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <h1>Software Simulation</h1>  
    </div>
    <div class="container page-content">
      <div class="row h-100">

        <!-- place for menu generation -->
        <div class="toc col-lg-5">
          <h5>Menu</h5>
          <ul>
            
            <!-- h2 level, add this #location, and change this menu -->
              <!--<a href="#simulation">> Simulation</a> -->
              
                <!-- h3 level, add this #location, and change this menu, use shorter names, also add ">" in front -->
            <li><a href="#docking-results">> Docking Results</a></li>
            <li><a href="#md-results">> MD Results</a></li>
            <li><a href="#docking-and-md">> Docking and MD</a></li>  
            <li>
              <a href="#references">> References</a>
            </li>
          </ul>
          <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
          </svg>
        </div>

        <!-- formal text goes under this div, h2, h3 should be labeled  -->
        <div class="page-text col-lg-9"> 
          </blockquote>   
          <h2 id="docking-results">Docking results</h2>
          <p>FluoroLoop is based on the binding of an aptamer to PFOA, an event that triggers the conformational change of the TMS and allows for PFAS detection. Thus, it was very important to perform docking between PFOA and the aptamers we wanted to work with and evaluate if the experiments would be successful according to computational tools.</p>
          <p>Thus, we performed docking using AutoDock Vina for all ten RNA aptamers described by Park <em>et al</em>, selected after performing systematic evolution of ligands by exponential enrichment (SELEX) as well as for two DNA aptamers that MAWS specifically designed for PFOA.Aptamer MAWS I was performed as a first try but was not optimized, as it used a proteins&#39; force field. Aptamer MAWS II was the final and optimized MAWS result, after changing the force fields to suit it to nucleotides and small molecules. To test the veracity and reproducibility of the results, performed docking with the same molecules using Haddock. The results are displayed in Table 1.</p>
          <p>We would have wished to use MAWS to generate an RNA aptamer as well, but we did not have enough time to do so. In an exploratory approach, we substituted the Ts in Aptamer MAWS II with Us, creating an RNA sequence. While this may not be the optimal method for optimizing an RNA aptamer, both AutoDock Vina and Haddock predicted a higher binding affinity to PFOA than that of Aptamer MAWS II (Table 1). Therefore, it would be interesting to rerun MAWS to obtain an RNA aptamer and assess its predicted binding affinity to PFOA.</p>
          <p><strong>Table 1: Haddock and AutoDock Vina results for the aptamers of interest</strong></p>
          <table>
          <thead>
          <tr>
          <th></th>
          <th>Haddock</th>
          <th>AutoDock Vina</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td>Aptamer RNA 1</td>
          <td>6.9 ± 6.4</td>
          <td>-6.693</td>
          </tr>
          <tr>
          <td>Aptamer RNA 2</td>
          <td>-0.1 ± 5.6</td>
          <td>-6.547</td>
          </tr>
          <tr>
          <td>Aptamer RNA 3</td>
          <td>3.3 ± 7.5</td>
          <td>-6.574</td>
          </tr>
          <tr>
          <td>Aptamer RNA 4</td>
          <td>2.7 ± 3.7</td>
          <td>-6.626</td>
          </tr>
          <tr>
          <td>Aptamer RNA 5</td>
          <td>-4.1 ± 2.4</td>
          <td>-6.446</td>
          </tr>
          <tr>
          <td>Aptamer RNA 6</td>
          <td>3.1 ± 5.5</td>
          <td>-6.271</td>
          </tr>
          <tr>
          <td>Aptamer RNA 7</td>
          <td>8.0 ± 2.1</td>
          <td>-5.323</td>
          </tr>
          <tr>
          <td><strong>Aptamer RNA 8</strong></td>
          <td><strong>-1.6 ± 1.0</strong></td>
          <td><strong>-7.439</strong></td>
          </tr>
          <tr>
          <td>Aptamer RNA 9</td>
          <td>21.1 ± 4.1</td>
          <td>-5.665</td>
          </tr>
          <tr>
          <td>Aptamer RNA 10</td>
          <td>-0.7 ±-1.9</td>
          <td>-6.657</td>
          </tr>
          <tr>
          <td>Aptamer DNA MAWS I</td>
          <td>9.1 ± 6.2</td>
          <td>-6.082</td>
          </tr>
          <tr>
          <td>Aptamer DNA MAWS II</td>
          <td>2.7 +/- 4.0</td>
          <td>-6.466</td>
          </tr>
          <tr>
          <td><strong>Aptamer RNA MAWS II</strong></td>
          <td><strong>-9.6 ± 1.3</strong></td>
          <td><strong>-6.928</strong></td>
          </tr>
          </tbody>
          </table>
          <p>As can be observed in Table 1, the aptamer that binds PFOA with the highest affinity according to AutoDock Vina is Aptamer RNA 8, while Haddock points to the RNA version of the aptamer generated by MAWS, which appears to be considerably better than Aptamer RNA 5, the second-best one. It is remarkable that Haddock considers this aptamer to be the best one to bind PFOA and that AutoDock Vina also calculates a very good score for it. This is a very positive sign for the purpose of AptaLoop. As discussed above, it would be desirable to obtain an RNA aptamer directly designed by MAWS and test its binding affinity to PFOA.</p>
          <p>Furthermore, the score for Aptamer MAWS II is considerably better than the score for Aptamer I. This validates the work done to optimize MAWS.</p>
          <p>Taking into account both docking methods, it is possible to conclude that <strong>Aptamers RNA 8, 5, 10, 2</strong>, and <strong>RNA MAWS II</strong> bind PFOA with the highest affinity, while Aptamers RNA 9 and 7 do a terrible job at it. These results differ to the conclusions found by Park <em>et al</em>, who stated that the aptamers with the highest affinity to PFOA were 2, 8, and 3, and the aptamers with the lowest binding affinity to said ligand were 1, 5, and 6.</p>
          <p>After the docking results, we decided to analyze the predicted binding sites for the best aptamers (i.e., Aptamers RNA 2, 5, 8, 10, and RNA MAWS II). For Aptamers RNA 5, 8, 10, and RNA MAWS II, Haddock and AutoDock Vina predict very similar binding sites for PFOA, but they orient the ligand in opposite directions. In the case of aptamer 2, the binding sites for the best results are different, but the second-best binding site for AutoDock Vina agrees with Haddock’s best prediction. The fact that the predictions from AutoDock Vina and Haddock are not far from each other allows us to rely on the AutoDock Vina results for AptaLoop.</p>          
          <p>The results for the best aptamers (2, 5, 8, 10, and MAWS II) are displayed below (Figures 1-5):</p>
          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-2-haddock.gif" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-2-vina-smaller.gif" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best result</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 1: Docking results for <strong>Aptamer 2</strong>. Figure obtained with Chimera.</figcaption>
          </figure>

          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-5-haddock.gif" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-5-vina.gif" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best result</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 2: Docking results for <strong>Aptamer 5</strong>. Figure obtained with Chimera.</figcaption>
          </figure>

          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-8-haddock-smaller.gif" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-8-vina-smaller.gif" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best result</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 3: Docking results for <strong>Aptamer 8</strong>. Figure obtained with Chimera.</figcaption>
          </figure>

          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-10-haddock.gif" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-10-vina.gif" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best result</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 4: Docking results for <strong>Aptamer 10</strong>. Figure obtained with Chimera.</figcaption>
          </figure>

          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-maws-haddock.gif" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamer-maws-vina-smaller.gif" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best result</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 5: Docking results for <strong>Aptamer RNA MAWS II</strong>. Figure obtained with Chimera.</figcaption>
          </figure>          
          <h2 id="md-results">MD results</h2>
          <p>We performed molecular dynamics using the first RNA aptamer generated by MAWS (Aptamer MAWS I) and a PFOA molecule. We ran the simulation for 2 ns of aptamer and PFOA. We also simulated aptamer for 50 ns to check the stability in water.</p> 
            <!-- The RMSD graph 2 (Figure 6) illustrates that the aptamer goes through major conformational changes, unlike what is displayed in graph 1 (Figure 7), which does not include PFOA. </p> -->
      
          <!-- <p>RMSD graphs <strong>Figures 7 and 8</strong></p> -->
          <p>Had we had the possibility of running the simulation for more time, we would have been able to see more conformational changes and stability of the reaction. Unfortunately, we didn&#39;t get much time as the MD simulations were too computationally demanding and time consuming. Figure 6 shows how the aptamer and PFOA react in water for 2 ns according to simulation we ran.</p>
          <figure>
            <img src="https://static.igem.wiki/teams/4811/wiki/apatmerpfoadynamics.gif" alt="MD simulation">
            <figcaption style="align-self: center;">Figure 6: Molecular Dynamics simulation for Aptamer MAWS I and PFOA</figcaption>
          </figure>
          
          <h2 id="docking-and-md">Docking and MD</h2>
          <p>Molecular dynamics simulations demand a substantial amount of time for execution. Consequently, it was unfeasible to obtain results for all the aptamers of interest and compare them with the binding sites predicted by docking. Nevertheless,as stated in the above section, we were able to conduct a comparison for one aptamer, Aptamer MAWS I, and we obtained promising results</p>
          <p>As displayed in Figure 7 , both Haddock and AutoDock Vina predict a binding site that aligns with the trajectory predicted by Molecular Dynamics (Figure 6). This suggests that both methods hold utility to predict and study the binding between PFOA and an aptamer.</p>
          <figure style="border: 1px solid #ffffff; padding: 10px;">
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamermaws1-haddock.png" alt="Haddock" style="max-width: 100%; height: 400px;">
              <figcaption> Haddock's best result</figcaption>
            </div>
            <div class="image-container">
              <img src="https://static.igem.wiki/teams/4811/wiki/images/docking/aptamermaws1-vina.png" alt="AutoDock Vina" style="max-width: 100%; height: 400px; margin-top: 10px;">
              <figcaption>AutoDock Vina's best results</figcaption>
            </div>
            <figcaption style="align-self: center;"> Figure 7: Docking results for <strong>Aptamer DNA MAWS I</strong>. Image obtained with Chimera.</figcaption>
          </figure>
                    
          <p>Further research could be performed to study whether the results for Molecular Dynamics also match the docking predictions for the most promising aptamers.</p>
          <h2 id="references">References</h2>
          <ul>
            <li>
                <p>Park, J., Yang, K.-A., Choi, Y., &amp; Choe, J. K. (2022). Novel ssDNA aptamer-based fluorescence sensor for perfluorooctanoic acid detection in water. Environmental International, 158, 107000.</p>
            </li>
        </ul>
        

            
        </div>
      </div>
    </div>
  </div>

{% endblock %}
