{% extends "layout.html" %}

{% block page_content %}
<div class="page">
  <div class="page-header" style="background-image: url('https://static.igem.wiki/teams/4811/wiki/images/header-project-05.png');">
    <h1>Contribution</h1>
  </div>
  <div class="container page-content">
    <div class="row h-100">
      <div class="toc col-lg-5">


        <h5>Menu</h5>
        <ul>
            <li><a href="#building-on-past-achievements"> > Building on Past Achievements</a></li>
            <li><a href="#pioneering-new-frontiers"> > Pioneering New Frontiers</a></li>
        </ul>
        <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
        </svg>
      </div>


      <div class="page-text col-lg-9">
        <p>As we all know, the iGEM competition represents a pioneering approach to science and collaboration within the realm of synthetic biology. Beyond the quest for scientific excellence, iGEM places a significant emphasis on the power of <strong>cross-team collaboration</strong>, recognizing that it is through the collective effort of diverse teams from around the world that we can achieve groundbreaking advances in science and technology. As a part of this contributing ecosystem, our team made efforts to both build upon the work of former iGEM teams and bring new insights and perspectives to the table. </p>
        <h2 id="building-on-past-achievements">Building on Past Achievements</h2>
        <p>One example of such improvements lies in our <strong>software</strong>. We took the challenge of enhancing MAWS, the software developed by the <a href="https://2015.igem.org/Team:Heidelberg">Heidelberg 2015</a> iGEM team. Although previous improvements were carried out by <a href="https://2017.igem.org/Team:Heidelberg">Heidelberg 2017</a> and <a href="https://2022.igem.wiki/nu-kazakhstan/">NU Kazakhstan 2022</a> iGEM teams, we found the code to be non-functional and outdated. Thus, we updated the software to make it functional again and added some new features to it, as seen on our <a href="https://2023.igem.wiki/dtu-denmark/software">software page</a>. In developing our pipeline, we put an emphasis towards accessibility, as we heavily documented our software and code, making it as easy and accessible for future teams to use and improve upon. </p>
        <h2 id="pioneering-new-frontiers">Pioneering New Frontiers</h2>
        <p>A noteworthy contribution of our iGEM team is introducing a tRNA-Mimicking Structure (TMS) as a <strong>new biological part</strong> to the iGEM registry. The TMS, which was developed by Paul <em>et al.</em> (2020), is a synthetically designed RNA which folds in the same manner as a tRNA. It acts as a trans-encoded genetic switch which binds to the Ribosome Binding Site (RBS) and represses translation. This allows for a highly modular design, as it does not require upstream modifications of the target RBS. This basic biological part serves as a foundation upon which future iGEM projects can build, paving the way for novel solutions and innovative applications. </p>
        <p>As we reflect on our journey, we are reminded that our contributions are part of a continuum of discovery, innovation, and shared wisdom that defines the iGEM legacy. Together, we look forward to the future of synthetic biology, where each generation builds upon the work of the past, fostering a brighter and more sustainable world.</p>
        
              
      </div>
    </div>
  </div>
</div>

{% endblock %}
