{% extends "layout.html" %}
  

{% block page_content %}
<div class="page">

  <!-- Change This Header -->
  <div class="page-header">
    <h1>Education</h1>  
  </div>
  <div class="container page-content">
    <div class="row h-100">

      <!-- place for menu generation -->
      <div class="toc col-lg-5">
        <h5>Menu</h5>
        <ul>
          <li>
          <!-- h2 level, add this #location, and change this menu -->
            <a href="#high_school">High School Workshops</a>
          </li>
          <li>
            <a href="#biotech">Biotech Academy</a>
          </li>
          <li>
            <a href="#dtu_student">DTU Students</a>
          </li>
        </ul>
        <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
        </svg>
      </div>

      <!-- formal text goes under this div, h2, h3 should be labeled  -->
      <div class="page-text col-lg-9">
          
          <!-- add id to h2 -->
          <h2>Education</h2>
          <!-- add <hr> after h2 -->
          <hr>
          <p>The DTU Biobuilders focused on youth education this year to promote synthetic biology and its applications in local environmental issues. In doing so, we undertook the mission of educating local youth by hosting workshops where fundamental lessons in synthetic biology were presented.</p>
          <p>We consider this outreach to local youth a pivotal step in educating the upcoming generation of scientists, engineers, and informed citizens in the field of synthetic biology. By imparting knowledge about the potential of synthetic biology to address environmental issues, we hope to inspire young minds to become enthusiastic advocates and future practitioners in the field. In essence, we view these educational initiatives as an investment in building a well-informed and environmentally conscious community that can contribute to the advancement and responsible application of synthetic biology.</p>
          <h2 id="high_school">High School Workshops</h2>
          <p>To connect with our younger selves, we took a nostalgic trip back to where our passion for biotechnology first sparked - our old high schools. We didn't return as students this time but as proud alumni. Our journey down memory lane began at Solrød Gymnasium, where Sara, a member of our iGEM team, spent three years immersed in the world of biotechnology. From there, we ventured to iGEM member Elisa’s old high school Virum Gymnasium and the neighboring Nærum Gymnasium to continue our mission.</p>
          <p>We had the privilege of conducting engaging 1.5-hour sessions at these high schools, where we delved into the exciting world of synthetic biology, the iGEM competition, and our own project. During our presentation, our primary goal was to challenge and inspire the students, igniting their curiosity by showcasing the real-world applications of biotechnology.</p>
          <p>First, we introduced the students to our project using our promotional video and an informative presentation on PFAS and our biosensor. To gauge their existing knowledge and keep them on their toes, we put them to the test with a lively Kahoot quiz. This quiz probed their understanding of the central dogma, exposing their grasp of <b>transcription</b> and <b>translation</b>. This served as a solid foundation for us to shed light on the essential components needed to construct a functional gene.</p>
          <p>We posed the intriguing question: “How can one verify if the assembled gene is accurate?” This was our segue to introduce the concept of restriction enzymes, which play a pivotal role in genetic manipulation. Armed with this newfound knowledge, we encouraged the students to roll up their sleeves and embark on the exciting journey of constructing and testing their very own genes.</p>
          <p>This hands-on experience included working with reporter genes, utilizing genes from both prokaryotic and eukaryotic hosts, and crafting plasmids that incorporated these genes. The students' faces lit up with curiosity and fascination as they witnessed the practical application of biotechnology in action.</p>
          <div class="slideshow-container">
            <div class="mySlides fade">
              <div class="numbertext">1 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-1.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-2.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">3 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-3.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">4 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-4.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">5 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-5.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">6 / 6</div>
              <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-6.jpeg">
            </div>
            
          </div>
          <br>

          <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span> 
          </div>
          <p>We extend our heartfelt gratitude to the schools, dedicated teachers, and enthusiastic students who wholeheartedly embraced our workshops. Your engagement and commitment have been invaluable, and we look forward to the bright futures that lie ahead for these budding biotechnologists.</p>
          <h2 id="biotech">Biotech Academy</h2>
        </div>
    </div>
  </div>
</div>

<script>
  let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

{% endblock %}
