{% extends "layout.html" %}
  

{% block page_content %}
<div class="page">

  <!-- Change This Header -->
  <div class="page-header" style="background-image: url('https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-1-op.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <h1 style="color: white;">Education</h1>  
  </div>
  <div class="container page-content">
    <div class="row h-100">

      <!-- place for menu generation -->
      <div class="toc col-lg-5">
        <h5>Menu</h5>
        <ul>
          <li>
          <!-- h2 level, add this #location, and change this menu -->
            <a href="#high_school">> High School Workshops</a>
          </li>
          <li>
            <a href="#biotech">> Biotech Academy</a>
          </li>
          <li>
            <a href="#dtu_student">> DTU Students</a>
          </li>
        </ul>
        <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
        </svg>
      </div>

      <!-- formal text goes under this div, h2, h3 should be labeled  -->
      <div class="page-text col-lg-9">
          
          <!-- add id to h2 -->
          <!-- add <hr> after h2 -->
          <p>The DTU Biobuilders focused on youth education this year to promote synthetic biology and its applications in local environmental issues. In doing so, we undertook the mission of educating local youth by hosting workshops where fundamental lessons in synthetic biology were presented.</p>
          <p>We consider this outreach a pivotal step in educating the upcoming generation of scientists, engineers, and informed citizens in the field of synthetic biology. By imparting knowledge about the potential of synthetic biology to address environmental issues, we hope to inspire young minds to become enthusiastic advocates and future practitioners in the field. In essence, we view these educational initiatives as an investment in building a well-informed and environmentally conscious community that can contribute to the advancement and responsible application of synthetic biology.</p>
          <h2 id="high_school">High School Workshops</h2>
          <p>To connect with our younger selves, we took a nostalgic trip back to where our passion for biotechnology first sparked - our old high schools. We didn't return as students this time but as proud alumni. Our journey down memory lane began at Solrød Gymnasium, where Sara, a member of our iGEM team, spent three years immersed in the world of biotechnology. From there, we ventured to iGEM member Elisa’s old high school Virum Gymnasium and the neighboring Nærum Gymnasium to continue our mission.</p>
          <p>We had the privilege of conducting engaging 1.5-hour sessions at these high schools, where we delved into the exciting world of synthetic biology, the iGEM competition, and our own project. During our presentation, our primary goal was to challenge and inspire the students, igniting their curiosity by showcasing the real-world applications of biotechnology.</p>
          <p>First, we introduced the students to our project using our promotional video and an informative presentation on PFAS and our biosensor. To gauge their existing knowledge and keep them on their toes, we put them to the test with a lively Kahoot quiz. This quiz probed their understanding of the central dogma, exposing their grasp of <b>transcription</b> and <b>translation</b>. This served as a solid foundation for us to shed light on the essential components needed to construct a functional gene.</p>
          <p>We posed the intriguing question: “How can one verify if the assembled gene is accurate?” This was our segue to introduce the concept of restriction enzymes, which play a pivotal role in genetic manipulation. Armed with this newfound knowledge, we encouraged the students to roll up their sleeves and embark on the exciting journey of constructing and testing their very own genes.</p>
          <p>This hands-on experience included working with reporter genes, utilizing genes from both prokaryotic and eukaryotic hosts, and crafting plasmids that incorporated these genes. The students' faces lit up with curiosity and fascination as they witnessed the practical application of biotechnology in action.</p>
          <div class="slideshow-container">
            <div class="mySlides fade">
              <div class="numbertext">1 / 6</div>
              <img class="album"  src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-1.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img class="album"  src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-2.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">3 / 6</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-3.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">4 / 6</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-4.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">5 / 6</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-5.jpeg">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">6 / 6</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-sg-6.jpeg">
            </div>
            
          </div>
          <br>

          <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span> 
          </div>
          <br>
          <div class="slideshow-container">
            <div class="mySlides-ng fade">
              <div class="numbertext">1 / 3</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-ng-1.jpg">
            </div>
            <div class="mySlides-ng fade">
              <div class="numbertext">2 / 3</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-ng-2.jpg">
            </div>
            <div class="mySlides-ng fade">
              <div class="numbertext">3 / 3</div>
              <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/workshop-ng-3.jpg">
            </div>
          </div>
          <br>
          <div style="text-align:center">
            <span class="dot-ng"></span> 
            <span class="dot-ng"></span> 
            <span class="dot-ng"></span>
            </div>
            <br>
          <p>We extend our heartfelt gratitude to the schools, dedicated teachers, and enthusiastic students who wholeheartedly embraced our workshops. Your engagement and commitment have been invaluable, and we look forward to the bright futures that lie ahead for these budding biotechnologists.</p>
          <h2 id="biotech">Biotech Academy</h2>
          <p>We aimed to broaden the reach of our project and decided to collaborate with Biotech Academy, a non-profit organization affiliated with DTU Bioengineering. Biotech Academy is staffed by enthusiastic fellow university students with a passion for biotechnology, biology, chemistry, and communicating these subjects, particularly to Danish primary school children and Danish high school students. They ensure education through various channels, including their website (<a href="https://www.biotechacademy.dk/">biotechacademy.dk</a>), camps, and teaching material. What sets them apart is their close collaboration with industry partners, guaranteeing teaching materials that are not only highly relevant for biotechnology but also up to date on the current advancements.</p>
          <p>Biotech Academy’s unwavering dedication to promoting a deeper understanding of biotechnology and cultivating enthusiasm for STEM subjects beautifully aligns with our own mission. Thus, a collaboration seemed straightforward.</p>
          <p>Our partnership with Biotech Academy builds upon the groundwork laid by DTU Biobuilders in 2022. Biotech Academy’s mission includes shedding light on the real-world applications of synthetic biology, many of which are exemplified in initiatives like iGEM. DTU Biobuilders 2022 played a vital role in helping Biotech Academy craft a comprehensive page about synthetic biology and contributed a well-crafted page outlining their iGEM project.</p>
          <p>Our contribution to Biotech Academy takes the form of a dedicated page highlighting our project. The process involved receiving careful guidance and invaluable feedback on creating content tailored for high school students who may have little to no prior knowledge about synthetic biology and our specific project. This page now becomes a part of Biotech Academy’s ongoing effort to annually update their website with content designed to pique the curiosity of Danish high school students, all presented in an accessible and understandable language.</p>
          <p>To view the page, you can access it <a href="https://www.biotechacademy.dk/undervisning/gymnasiale-projekter/moderne-genteknologi/syntetisk-biologi/igem-2023/">here</a> or download it as a <a href="https://static.igem.wiki/teams/4811/wiki/biotechacademy.pdf">PDF here</a>. We are excited about this collaborative effort and its potential to inspire and engage young minds in the fascinating world of biotechnology and synthetic biology.</p>
          <h2 id="dtu_student">DTU Students</h2>
          <p>We took our outreach efforts further by connecting with our fellow students at DTU. We did this by participating in the <b>Student Life Fair</b>, an event organized by the PF Master Student Coordinators during the introduction week for new master’s students. Additionally, we reached out to MSc. Biotechnology students through the <b>Society of Biological Engineering (SBE)</b>, and we shared our project on various <b>social media platforms</b> affiliated with DTU.</p>
          <p>During our time at the <b>Student Life Fair</b>, we engaged in numerous <b>exciting</b> conversations. These conversations covered a range of topics, including iGEM, synthetic biology, and our project. The Student Life Fair provided us with a unique opportunity to extend our reach beyond our own department at DTU. While iGEM and DTU Biobuilders are generally well-known among biotechnology students at DTU, we saw the value in introducing our initiatives to students who may not yet be familiar with iGEM. We believe that these incoming master’s students have the potential to both contribute to and learn from iGEM in the coming year. Students without a biological background often bring <b>diverse skills</b> and <b>perspectives</b> that can be valuable in various aspects of iGEM.</p>
          <figure class="image-container album">
            <img class="image" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/introweek1.jpg" alt="Student Life Fair">
            <img class="image" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/introweek2.webp" alt="Student Life FAir">
          </figure>
          <p>We continued our internal outreach through the Society of Biological Engineering, known as SBE. Collaborating with SBE, we held a public presentation on our project and iGEM. Here, everyone curious about the our project, our experiences, and iGEM itself could participate and ask their questions.</p> 
          <figure>
            <img class="album" src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/sbe.png">
          </figure>
          <p>Lastly, we aimed to reach a broader audience within DTU. To accomplish this, we reached out to the <strong>social media team</strong> responsible for managing the university&#39;s social media platforms. Through this collaboration, we aimed to raise awareness about the field of synthetic biology and the exciting opportunities offered by DTU through participation in iGEM.</p>
          <figure class="image-container album" style="width:70%;align-content: center;" >
            <img src="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/facebook-post.png" alt="Facebook post">
            <!-- <img class="image" src="https://static.igem.wiki/teams/4811/wiki/ig-post.png" alt="Insta post"> -->
        </figure>
        </div>
    </div>
  </div>
</div>

<script>
  let slideIndex = 0;
showSlides();
function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script>
<script>
  let slideIndexNg = 0;
  showSlidesNg();

  function showSlidesNg() {
    let i;
    let slides = document.getElementsByClassName("mySlides-ng");
    let dots = document.getElementsByClassName("dot-ng");

    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }

    slideIndexNg++;

    if (slideIndexNg > slides.length) {
      slideIndexNg = 1;
    }

    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndexNg - 1].style.display = "block";
    dots[slideIndexNg - 1].className += " active";
    setTimeout(showSlidesNg, 2000); // Change image every 2 seconds
  }
</script>


{% endblock %}
