{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.{% endblock %}

{% block page_content %}
<!--
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #1</h4>
      <p>Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle. This achievement should be distinct from your Contribution for Bronze.<p>
      <p>If you plan to show engineering success by creating a new Part that has been shown to work as expected, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
-->
<div class="grad-content h-100 main-content">



  <div class="row">
      <div class="sidenav" style="top: 25%;">
          <div  style="font-weight: bold; text-align: center; text-decoration: none; padding-top: 30px; padding-right: 65%;">Engineering</div>
          <a href="#">&gt; 1</a>
          <a href="#">&gt; 2</a>
          <a href="#">&gt; 3</a>
          <a href="#">&gt; 4</a>
          <a href="#">&gt; 5</a>
          <a href="#">&gt; 6</a>
      </div>
  </div>
  
  <a href="#" class="buttons">Previous</a>
  <a href="#" class="buttons">Next</a>
  </div>



{% endblock %}
