{% extends "layout.html" %}

{% block title %}FluoroLoop{% endblock %}
{% block lead %}<b>Welcome to DTU Biobuilders Team</b>{% endblock %}

{% block page_content %}

<div class="container" style="padding-top:20px;">
  <img id="pfas-map" src="https://static.igem.wiki/teams/4811/wiki/images/pfas-map.gif" alt="PFAS Map">
  <div id="typedtext" class="col-md-12 text-center main-title">
  </div>
</div>

<div class="container-fluid ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div>
  <img src="https://static.igem.wiki/teams/4811/wiki/images/main-page.png" alt="Intro Image" class="main-content">
</div>

<!-- <div class="text-background">
    <div class="col-md-12 text-center">
      <object data="https://static.igem.wiki/teams/4811/wiki/images/main-page.svg" type="image/svg+xml"></object>
</div> -->

<script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/topojson.min.js') }}"></script>
<script type="text/javascript">
      // set up text to print, each item in array is new line
    var aText = new Array(
      "Today in Denmark,",
        "the question is not where PFAS is,",
        "but where PFAS isn't."
    );
    var iSpeed = 100; // time delay of print out
    var iIndex = 0; // start printing array at this posision
    var iArrLength = aText[0].length; // the length of the text array
    var iScrollAt = 20; // start scrolling up at this many lines
    
    var iTextPos = 0; // initialise text position
    var sContents = ''; // initialise contents variable
    var iRow; // initialise current row
    
    function typewriter()
    {
    sContents =  ' ';
    iRow = Math.max(0, iIndex-iScrollAt);
    var destination = document.getElementById("typedtext");
    
    while ( iRow < iIndex ) {
      sContents += aText[iRow++] + '<br />';
    }
    destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
    if ( iTextPos++ == iArrLength ) {
      iTextPos = 0;
      iIndex++;
      if ( iIndex != aText.length ) {
      iArrLength = aText[iIndex].length;
      setTimeout("typewriter()", 400);
      }
    } else {
      setTimeout("typewriter()", iSpeed);
    }
    }

    typewriter();
  
</script>

{% endblock %}