{% extends "layout.html" %}

{% block title %}FluoroLoop{% endblock %}
{% block lead %}<b>Welcome to DTU Biobuilders Team</b>{% endblock %}

{% block page_content %}

<div class="container">
  <div id="globe" class="col-md-12 text-center" style="width: 100%; height: 420px;"></div>
  <!-- <div class="col-md-12 text-center main-title typewriter" style="padding: 20px;">
    <h1>Today in Denmark <br>
    the question is not where PFAS is, <br>
    but where PFAS isn't.</h1>
  </div> -->
  <div id="typedtext" class="col-md-12 text-center main-title">
  </div>
</div>


<!-- <div class="container mt-6" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-12 text-center">
        <div id="globe" class="col-md-12 text-center" style="width: 100%; height: 420px;"></div>
    </div>
    <div class="col-md-12 text-center main-title" style="padding: 20px;">
      <h1>Today in Denmark</h1>
      <h1>the question is not where PFAS is, </h1>
      <h1>but where PFAS isn't.</h1>
    </div>
  </div>
</div> -->

<div class="container-fluid ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div>
  <img src="https://static.igem.wiki/teams/4811/wiki/images/main-page.png" alt="Intro Image" class="main-content">
</div>

<!-- <div class="text-background">
    <div class="col-md-12 text-center">
      <object data="https://static.igem.wiki/teams/4811/wiki/images/main-page.svg" type="image/svg+xml"></object>
</div> -->

<script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/topojson.min.js') }}"></script>
<script type="text/javascript">
    // Dimensions of the container
    var width = document.getElementById('globe').offsetWidth,
        height = document.getElementById('globe').offsetHeight;

    // Create the SVG element
    var svg = d3.select("#globe")
                .append("svg")
                .attr("width", width)
                .attr("height", height);

    // Create a projection to convert 3D coordinates to 2D
    var projection = d3.geoOrthographic()
                       .scale((width - 10) / 2)
                       .translate([width / 2, height / 2])
                       .rotate([-10, -50])
                       .clipAngle(90);

    // Create a path generator based on the projection
    var path = d3.geoPath().projection(projection);

    // Load and display the world map
    d3.json("https://static.igem.wiki/teams/4811/wiki/data/land-110m.json").then(function(topoData) {
        var world = topojson.feature(topoData, topoData.objects.land);
        
        svg.append("g")
            .selectAll("path")
            .data(world.features)
            .enter().append("path")
            .attr("d", path)
            .style("stroke", "#111")
            .style("stroke-width", "1px")
            .style("fill", "#e5e5e5");


      // Load and display the GPS data
      d3.json("https://static.igem.wiki/teams/4811/wiki/data/map-pfas-data.json").then(function(data) {
          svg.append("g")
             .selectAll("circle")
             .data(data)
             .enter().append("circle")
             .attr("cx", function(d) { return projection([d.longitude, d.latitude])[0]; })
             .attr("cy", function(d) { return projection([d.longitude, d.latitude])[1]; })
             .attr("r", 2);
      });
  });

      // Drag behavior
  //       var drag = d3.drag()
  //     .on("start", function (event) {
  //         var rotate = projection.rotate();
  //         dragAngle = {
  //             x: rotate[0] - event.sourceEvent.clientX,
  //             y: rotate[1] - event.sourceEvent.clientY
  //         };
  //     })
  //     .on("drag", function (event) {
  //         var rotate = [
  //             dragAngle.x + event.sourceEvent.clientX,
  //             dragAngle.y + event.sourceEvent.clientY
  //         ];
  //         projection.rotate(rotate);
  //         svg.selectAll("path").attr("d", path);
  //         svg.selectAll("circle")
  //             .attr("cx", function (d) { return projection([d.longitude, d.latitude])[0]; })
  //             .attr("cy", function (d) { return projection([d.longitude, d.latitude])[1]; });
  //     });

  // svg.call(drag);

  // set up text to print, each item in array is new line
var aText = new Array(
  "Today in Denmark,",
    "the question is not where PFAS is,",
    "but where PFAS isn't."
);
var iSpeed = 100; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = aText[0].length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
 
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
 
function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 var destination = document.getElementById("typedtext");
 
 while ( iRow < iIndex ) {
  sContents += aText[iRow++] + '<br />';
 }
 destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != aText.length ) {
   iArrLength = aText[iIndex].length;
   setTimeout("typewriter()", 500);
  }
 } else {
  setTimeout("typewriter()", iSpeed);
 }
}


typewriter();
  
  
</script>

{% endblock %}