{% extends "layout.html" %}

{% block title %}FluoroLoop{% endblock %}
{% block lead %}<b>Welcome to DTU Biobuilders Team</b>{% endblock %}

{% block page_content %}

<div class="map-container">
  <img class="main-image" src="https://static.igem.wiki/teams/4811/wiki/images/pfas-map-new.gif" alt="PFAS Map" >
  <div id="map"></div>
</div>
<div class="container">
  <div id="typedtext" class="col-md-12 text-center main-title">
  </div>
</div>

<div class="sky">
  <div id="duck" class="floating-duck"></div>

  <div class="container-fluid ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>


<div class="main-content">
  <div class="text-background">
    <div class="col-md-12 text-center">
      <object data="static/images/main-page-text.svg" type="image/svg+xml"></object>
      <!-- <object data="https://static.igem.wiki/teams/4811/wiki/images/main-page-new.svg" type="image/svg+xml"></object> -->
</div>
</div>

<script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/topojson.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<script type="text/javascript">
      // set up text to print, each item in array is new line
    var aText = new Array(
      "Today in Denmark,",
        "the question is not where PFAS are,",
        "but where PFAS aren't."
    );
    var iSpeed = 100; // time delay of print out
    var iIndex = 0; // start printing array at this posision
    var iArrLength = aText[0].length; // the length of the text array
    var iScrollAt = 20; // start scrolling up at this many lines
    
    var iTextPos = 0; // initialise text position
    var sContents = ''; // initialise contents variable
    var iRow; // initialise current row
    
    function typewriter()
    {
    sContents =  ' ';
    iRow = Math.max(0, iIndex-iScrollAt);
    var destination = document.getElementById("typedtext");
    
    while ( iRow < iIndex ) {
      sContents += aText[iRow++] + '<br/>';
    }
    destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
    if ( iTextPos++ == iArrLength ) {
      iTextPos = 0;
      iIndex++;
      if ( iIndex != aText.length ) {
      iArrLength = aText[iIndex].length;
      setTimeout("typewriter()", 400);
      }
    } else {
      setTimeout("typewriter()", iSpeed);
    }
    }

    typewriter();

    lottie.loadAnimation({
  container: document.getElementById('duck'),
  renderer: 'svg', // You can choose 'svg', 'canvas', or 'html' based on your preference
  loop: true, // Set to true for looping
  autoplay: true, // Set to true for auto playback
  path: 'static/images/duck.json', // URL to your first Lottie animation
  animationSpeed: 0.8,
});

function getRadius(value) {
    // Using a base value for radius (e.g., 10 meters) and then scaling it based on the log of the value.
    return 5000 * Math.log(value + 1); // We add 1 to avoid log(0) issues
}


setTimeout(function() {
        // Hide the image
        document.querySelector('.main-image').style.display = 'none';
        document.querySelector('#map').style.display = 'block';
        // Show the map
        const map = L.map('map').setView([55.6,10.4], 7);
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        fetch('static/data/pfas-water-data.json')
.then(response => response.json())
.then(data => {
addCircles(data.points);
})
.catch(error => console.error('Error fetching data:', error));

function addCircles(points) {
points.forEach(function(point) {
var scaledRadius = getRadius(point.value);

var circle = L.circle([point.latitude, point.longitude], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: scaledRadius
}).addTo(map);

circle.bindPopup("<h4>Our Recent Test</h4><br><b>Location:</b> " + point.location + "<br><b>Sum of PFASs:</b> " + point.value, );
});
}
    }, 5000);

</script>

{% endblock %}