{% extends "layout.html" %}

{% block title %}Overview of the pipeline{% endblock %}
{% block lead %}Keep it simple to have it simple.{% endblock %}

{% block page_content %}

<h1>Overview of the pipeline</h1>
<p>
    Some important text in simple file that is <b>bold</b>
    And some other text that is simple.
</p>


<div class="row">
    <div class="sidenav">
        <div style="font-weight: bold; text-align: center; text-decoration: none; padding-top: 30px; padding-right: 250px;">AptaLoop</div>
        <a href="#">&gt; Introduction</a>
        <a href="#">&gt; MAWS</a>
        <a href="#">&gt; MAWS Algorithm</a>
        <a href="#">&gt; Our Improvements</a>
        <a href="#">&gt; Molecular Docking</a>
        <a href="#">&gt; Molecular Dynamics</a>
    </div>
</div>

{% endblock %}

