{% extends "layout.html" %}

{% block title %}Overview of the pipeline{% endblock %}
{% block lead %}Keep it simple to have it simple.{% endblock %}

{% block page_content %}

<h1>Overview of the pipeline</h1>
<p>
    Some important text in simple file that is <b>bold</b>
    And some other text that is simple.
</p>

{% endblock %}

<div class="container">
    <div class="row">
        <div class="sidenav">
            <div style="text-align: center;">AptaLoop</div>
            <a href="#">Introduction</a>
            <a href="#">MAWS</a>
            <a href="#">MAWS Algorithm</a>
            <a href="#">Our Improvements</a>
            <a href="#">Molecular Docking</a>
            <a href="#">Molecular Dynamics</a>
        </div>
    </div>
</div>