{% extends "layout.html" %}

{% block title %}Parts{% endblock %}
{% block lead %}Keep it simple to have it simple.{% endblock %}

{% block page_content %}

<h1>Parts</h1>
<p>
    Some important text in simple file that is <b>bold</b>
    And some other text that is simple.
</p>

<div class="sidenav">
    <div style="font-weight: bold; text-align: center; text-decoration: none; padding-top: 30px; padding-right: 250px;">Contents</div>
    <a href="#">&gt; Basic Parts</a>
    <a href="#">&gt; Composite Parts</a>
</div>


{% endblock %}

