{% extends "layout.html" %}

{% block page_content %}
<div class="page">
  <div class="page-header">
    <h1>Engagement</h1>
  </div>
  <div class="container page-content">
    <div class="row h-100">
      <div class="toc col-lg-5">
        <h5>Menu</h5>
        <ul>
          <li>
            <a href="#biobrick">BioBrick Tutorial</a>
                   </li>
          <li>
            <a href="#green_challenge">Green Challenge</a>
          </li>
          <li>
            <a href="#atg">ATG SynBio Conference</a>
          </li>
          <li>
            <a href="#nic">Nordic iGEM Conference</a>
          </li>
        </ul>
        <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
        </svg>
      </div>
      <div class="page-text col-lg-9">
        <hr>
        <p>This year, the DTU Biobuilders had the pleasure to carry on the tradition of hosting the <b>BioBrick Tutorial at DTU</b> in the Spring of 2023 as well as being invited to multiple exciting events. These events took us from the <b>Green Challenge</b> at DTU to the <b>Nordic iGEM Conference</b> hosted by the iGEM team from <a href="https://2023.igem.wiki/sdu-denmark/">University of Southern Denmark (SDU)</a> to the <b>ATG SynBio Conference</b> in Spain. Here, we took on the challenge of communicating our project to receive <b>valuable</b> feedback.</p>
        <h2 id="biobrick">BioBrick Tutorial 2023</h2>
        <p>On the 14-16th of April, we hosted the <b>9th annual BioBrick Tutorial</b> at DTU, where we had the pleasure of meeting the wonderful iGEM teams from <a href="https://2023.igem.wiki/sdu-denmark/">SDU-Denmark</a>, <a href="https://2023.igem.wiki/stockholm/">Stockholm</a>, and <a href="https://2023.igem.wiki/lund/">Lund</a>. This weekend-long event aimed at <b>boosting connections</b> between the teams and at giving an <b>introduction to iGEM</b> through both wet and dry lab exercises. It was an opportunity for all to share ideas, experiences, and consider future collaborations.</p>
        <p>The organizing team, a subgroup of DTU Biobuilders, worked hard before the event to get all practicalities settled, such as arranging <b>lectures</b>, preparing the <b>laboratory exercises</b>, catering, and planning <b>social activities</b>. During the event, the organisers ensured that all participants had fun and understood the exercises. Members of the DTU Biobuilders 2022 kindly provided advice and participated in a panel discussion on the last day of the BioBrick Tutorial.</p>
        <p>On the first day of the event, the teams met up and were introduced to each other and the weekend programme. This was followed by lectures on synthetic biology, iGEM, and human practices given by our supervisors and iGEM veterans, Christopher Workman and Kristian Barrett. After dinner, the teams got to know each other better through a speed dating activity.</p>
        <p>On the second day, the teams arrived early at DTU for a day packed with laboratory exercises, dry lab exercises and social activities. The day was initiated with lab safety rules and introductions to the wet and dry lab exercises. In the wet lab, the participants were tasked with performing a <b>USER cloning</b>, which is a cloning technique mostly performed in the greater Copenhagen area. In the dry lab exercise, the participants were challenged to <b>create a package in R</b>. Between rounds of exercises, group photos were taken, a promotional video workshop was conducted, and a lecture on cloning strategies was held by former DTU Biobuilder and advisor of last year's DTU Biobuidlers iGEM team, Jacob Mejlsted. This long and educational day was concluded with lots of Danish 'hygge' and board games.</p>
        <p>The third day started with a panel discussion in which our supervisors and resident iGEM alumni discussed various topics with the participants, such as how to develop a strong team, ways to manage expectations, and general good advice for a successful project. The weekend was then wrapped up with the promotional video results, lunch together, and excitedly checking on the results from the USER cloning.</p>
        <p>The full schedule for the weekend can be found <a href="https://static.igem.wiki/teams/4811/wiki/bbt-2023-schedule.pdf">here</a>.</p>
        <img style="margin: 0px 10px 30px 20px;" src="https://static.igem.wiki/teams/4811/wiki/photos/bbt-group-photo.jpg" >
        <img style="margin: 0px 10px 30px 20px;" src="https://static.igem.wiki/teams/4811/wiki/photos/bbt-igem.jpg">
        <h2 id="green_challenge">Green Challenge</h2>
        <p>The Green Challenge is an <b>annual competition at DTU</b>, created as an educational initiative to promote integration of sustainability in the present and future work of students. All student projects related to the <b>UN's Sustainable Development Goals</b> can participate, and on the 23rd of June this year, we were honoured to present FluoroLoop at the conference of the challenge.</p>
        <p>The day consisted of multiple rounds of two minute <b>pitch presentations</b> and small discussions followed by constructive criticism. It provided a great opportunity for us to practice our pitching skills as well as receive <b>important feedback</b> at a stage of the project, where we could incorporate it. The judges came from various backgrounds, including professors from different departments, politicians, students, and industry professionals, giving us a range of different perspectives on our project. It also allowed us to promote our vision and raise awareness regarding the many problems associated with PFAS.</p>
        <p>If you're interested in learning more about the feedback we received and how it shaped our project, you can find that on the <a href="https://2023.igem.wiki/dtu-denmark/human-practices">Human practices</a> page.</p>
        <img style="margin: 0px 10px 30px 20px;" src="https://static.igem.wiki/teams/4811/wiki/photos/green-challenge-3d-print.jpg" >
        <img style="margin: 0px 10px 30px 20px;" src="https://static.igem.wiki/teams/4811/wiki/photos/green-challenge-yahya-pitch.jpg" >
        <h2 id="atg">ATG SynBio Conference</h2>
        <p>We were invited to the <b>II ATG SynBio Conference</b>, which was held on July 1st and 2nd of 2023 in the Barcelona Biomedical Research Park (PRBB). The whole conference revolved around a specific question: What do we need to build the Spanish synthetic biology ecosystem? To answer that question, there were speakers that shared the process of building the synbio companies they belong to from scratch. Also, there were panel discussions that aimed to narrow down what are the key points to create a synbio community in Spain.</p>
        <p>An important part of the conference was giving iGEM teams and startups the chance to pitch their idea and receive <b>feedback from iGEM judges</b>. Eric, one of our team members, was in charge of pitching our project FluoroLoop. After all seven teams had finished their pitches, the judges deliberated and decided that Eric deserved the prize of <b>best iGEM pitch</b> in the conference.</p>
        <p>We are grateful for the experience and the great opportunity to do networking with relevant people in the sector of Synthetic Biology from all over the world, including Nate Tedford from Gingko, Gijs Jochems from Promega, Nadège Grabowski from Da Vinci Labs, Paul Freemont from the Imperial College of London, Conchi Novillo from Bayer, Sara Holland, and many more.</p>
        <p>Our participation in this event was very enriching because we had the chance to practice our pitch in front of iGEM judges and we got valuable feedback on our idea. But more importantly, we were happy to be part of the early stages to <b>establish a synthetic biology hub in Spain</b>. Thank you so much to the ATG synbio team for organizing this event and making this possible!</p>
        <p><a href="https://static.igem.wiki/teams/4811/wiki/images/lab-safety/atg.jpeg">See Eric engaged in his winning pitch here</a></p>
        <h2 id="nic">Nordic iGEM Conference</h2>
        <p>We were invited to the <b>Nordic iGEM Conference</b> 2023 (NiC), which was held on July 28th, 29th and 30th of 2023 at SDU. The event was fun and inspiring, as it combined workshops and talks from experts with socializing and team building games.</p>
        <p>We had the chance to attend talks from 3 inspiring speakers. The first one was a master class on how to make a good wiki from <b>Thøger Jensen</b>, who was part of the SDU iGEM team in 2013 and supervisor in the following years. The topic of the second one was how to make a good presentation, by <b>Christian Eiming</b>. And the third one was a Hackathon on Innovative ideation and pitching with <b>Will Wright</b> from Bioventures!</p>
        <p>But that is not all, there was also a poster session where each iGEM team could walk around and get to know the other projects in the room. We also participated in a presentation session and got the chance to receive feedback on our project from other teams, SDU professors and iGEM judges. Finally, there was an alumni panel hosting members of previous SDU iGEM teams that shared with us their experience and gave us valuable advice.</p>
        <p>At the end of the event, the judges deliberated and decided that the ABOA iGEM team from Finland deserved the golden pipette, and thus will have the honor of hosting next year’s NiC. Overall, it was a great experience to participate in the event and get to know other the european nordic teams of this year while having fun! Thank you so much to the SDU iGEM team for organizing this event and making this possible!</p>
    </div>
    </div>
  </div>
</div>

{% endblock %}
