{% extends "layout.html" %}

{% block page_content %}
<div class="page">
  <div class="page-header" style="background-image: url('https://static.igem.wiki/teams/4811/wiki/images/header-project-10.png');">
    <h1>Safety</h1>
  </div>
  <div class=" container page-content ">
    <div class="row h-100">
    <div class="toc col-lg-5">
      <h5>Menu</h5>
      <ul>
        <li>
          <a href="#prologue">&gt; Prologue</a>
          </li>
          <li>
            <a href="#lab_safety">&gt; Lab safety</a>
           </li>
           <li>
            <a href="#project_design">&gt; Project Design</a>
           
          <ul>
            <li><a href="#gm_info">&gt; General Microorganism information </a></li>
            <li><a href="#use">&gt; Use of harmful reagents and procedures</a></li>
          </ul>
        </li>
        <li>
          <a href="#references">References</a>
        </li>
      </ul>
      <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
      </svg>
    </div>
    <div class="page-text col-lg-9">
      <h2 id="prologue">Prologue</h2>
      <hr>
      <p>In research safety is detrimental, also in iGEM projects. The safety procedures and precautions should be identified and taken into account when designing, preparing and conducting experiments. Safety of our team members is always the number one priority. The assistance and lab technicians at the Department of Biotechnology and Biomedicine of Technical University of Denmark (DTU Bioengineering) allowed us to conduct our project in their facilities after careful planning, our experiments were approved by our PI and the lab technician.</p>
      <h2 id="lab_safety">Lab Safety</h2>
      <p>Prior to commencing our wet lab experiments at the university, we had to complete a mandatory safety and risk assessment of experimental work as mandated by the <a href="https://at.dk/en/regulations/guidelines/classification-laboratories-c-0-4/#id-7-signfcathe-5">Danish law</a>. This assesment's primary objective is to establish the safest way to work and ensure the creation of a safe work environment. In addition to reviewing various work safety documents, passing a comprehensive quiz was a prerequisite for gaining access to the DTU laboratories. This quiz served to identify project-related risks and their mitigation strategies in accordance with Danish regulations governing the handling of GMOs.
        Furthermore, participation in a mandatory lab safety tour with two laboratory technicians was essential. This tour equipped us with practical knowledge of emergency procedures and facility policies. Additionally, prior to using any potentially hazardous equipment in our laboratories, mandatory training sessions were conducted by our laboratory technicians.</p>
       <h2 id="project_design">Project Design</h2>
       <h3 id="gm_info">General Microorganism information</h3>
       <p><i>Escherichia coli(E. coli</i>) is the chassis for our project, where the two specific strains that we utilize are <a href="https://www.neb.com/en/products/c2527-bl21de3-competent-e-coli#Product%20Information"><i>E. coli</i> BL21(DE3)</a> and <a href="https://www.neb.com/en/products/c2987-neb-5-alpha-competent-e-coli-high-efficiency#Product%20Information"><i>E. coli</i> DH5a</a> . These two strains are classified as Biosafety level 1 and are a part of the white list, indicating that they are safe to handle in a standard microbiology laboratory. All strains were obtained through NEB.</p>
       <h3 id="use">Use of harmful reagents and procedures</h3>
       <h4 id="pfoa">Perfluorooctanioc acid(PFOA)</h4>
       <p><a href="https://19january2021snapshot.epa.gov/sites/static/files/2017-12/documents/ffrrofactsheet_contaminants_pfos_pfoa_11-20-17_508_0.pdf">PFOA</a> is a toxic and carcinogenic compound, which is the environmental pollutant that we are trying to detect. PFOA is a perfluoroalkyl substance, that is a stable chemical that can repel oil and water to provide surface protection of different products. It is a white powder that can be released into water that can be readily absorbed and accumulates in the body.</p>
       <img src="https://static.igem.wiki/teams/4811/wiki/pfoa.svg" width = "200" height = "150">
       <p>Due to these properties of PFOA, PFOA was only handled solubilized to avoid inhalation and ingestion. When working with the solution, gloves were worn and experiments were carried out in the biosafety cabinet. Along with these precautions, we made sure to follow special instructions given by the official DTU website, <a href="https://kemibrug.dk/">Kemibrug</a>, for identification of chemicals before we used PFOA for any experiments.</p>
       <h4 id="gels">SYBR Safe in gels</h4>
       <p><a href="https://assets.thermofisher.com/TFS-Assets/BID/Flyers/sybr-safe-dna-gel-stain-alternative-ethidium-bromide-stain-flyer.pdf">SYBR safe</a> is weakly mutagenic that is used to visualize DNA in a gel for electrophoresis, which causes less mutations compared to ethidium bromide. It is a skin and eye irritant that also can cause specific target organ systemic toxicity.</p>
       <p>To minimize the area where SYBR safe was used, we dedicated an area of the lab to this, along with wearing gloves while working with it. Along with these precautions, we ensured adherence to special instructions given by the official DTU website, <a href="https://kemibrug.dk/">Kemibrug</a>, for identification of chemicals before use.</p>
       <h4 id="antibiotics">Antibiotics</h4>
       <p>Antibiotics were used for selection procedures. We used ampicillin, chloramphenicol, <a href="https://www.sigmaaldrich.com/DK/en/product/sigma/n1142">neomycin</a>, kanmycin, <a href="https://www.sigmaaldrich.com/DK/en/substance/tetracycline44443anhydrousbasis60548">tetracycline</a> and <a href="https://www.sigmaaldrich.com/DK/en/product/sial/a1200000">anhydrotetracycline</a>, which are hazardous substances. Ampicillin, Chloramphenicol and kanamycin were already in solution and standard concentration, provided by our supervisors, whereas tetracycline and anhydrotetracycline were powders. The powders were weighed in a fume bench and solubilized. Along with these precautions, we ensured adherence to special instructions given by the official DTU website, <a href="https://kemibrug.dk/">Kemibrug</a>, for identification of chemicals before use.</p>
       <h2 id="references">References</h2>
       <ul>
        <li>United Stated Environmental Protection Agency(EPA), Tehcnical fact sheet- perfluorooctane sultonate and perfluorooctanoic acid, November 2017</li>
       </ul>
      </div>
  

    </div>
  <a href="#" class="buttons">Previous</a>
  <a href="#" class="buttons">Next</a>

</div>  
</div>
</div>
{% endblock %}
