{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}
<div class="page">
  <div class="page-header">
    <h1>Safety</h1>
  </div>
  <div class="page-content row h-100">
    <div class="toc col-lg-5">
      <h3>Menu</h3>
      <ul>
        <li>
          <a href="#prologue">&gt; Prologue</a>
          </li>
          <li>
            <a href="#lab_safety">&gt; Lab safety</a>
           </li>
           <li>
            <a href="#project_design">&gt; Project Design</a>
           
          <ul>
            <li><a href="#gm_info">&gt; General Microorganism information </a></li>
            <li><a href="#section22">&gt; Use of harmful reagents and procedures</a></li>
            <ul>
              <li><a href="#pfoa">&gt;Perfluoroctanioc acid(PFOA)</a></li>
              <li><a href="#gels">&gt; SYBR Safe in gels</a></li>
              <li><a href="#antibiotics">&gt; Antibiotics</a></li>
            </ul>
          </ul>
        </li>
        <li>
          <a href="#references">References</a>
        </li>
      </ul>
      <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
      </svg>
    </div>
    <div class="page-text col-lg-7">
      <h2 id="prologue">Prologue</h2>
      <hr>
      <p>In research safety is detrimental, also in iGEM projects. The safety procedures and precautions should be identified and taken into account when designing, preparing and conducting experiments. Safety of our team members is always the number one priority. The assistance and lab technicians at the Department of Biotechnology and Biomedicine of Technical University of Denmark (DTU Bioengineering) allowed us to conduct our project in their facilities after careful planning, our experiments were approved by our PI and the lab technician.</p>
      <h2 id="lab_safety">Lab Safety</h2>
      <p>Prior to commencing our wet lab experiments at the university, we had to complete a mandatory safety and risk assessment of experimental work as mandated by the <a href="https://at.dk/en/regulations/guidelines/classification-laboratories-c-0-4/#id-7-signfcathe-5">Danish law</a>. This assesment's primary objective is to establish the safest way to work and ensure the creation of a safe work environment. In addition to reviewing various work safety documents, passing a comprehensive quiz was a prerequisite for gaining access to the DTU laboratories. This quiz served to identify project-related risks and their mitigation strategies in accordance with Danish regulations governing the handling of GMOs.
        Furthermore, participation in a mandatory lab safety tour with two laboratory technicians was essential. This tour equipped us with practical knowledge of emergency procedures and facility policies. Additionally, prior to using any potentially hazardous equipment in our laboratories, mandatory training sessions were conducted by our laboratory technicians.</p>
    </div>
  </div>

  
  <a href="#" class="buttons">Previous</a>
  <a href="#" class="buttons">Next</a>
  </div>
</div>
{% endblock %}
