{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}
<div class="grad-content h-100 main-content">



  <div class="row">
      <div class="sidenav" style="top: 25%;">
          <div  style="font-weight: bold; text-align: center; text-decoration: none; padding-top: 30px; padding-right: 65%;">AptaLoop</div>
          <a href="#">&gt; Subsection1</a>
          <a href="#">&gt; Subsection2</a>
          <a href="#">&gt; Subsection3</a>
          <a href="#">&gt; Subsection4</a>
          <a href="#">&gt; Subsection5</a>
          <a href="#">&gt; Subsection6</a>
      </div>
  </div>
  
  <a href="#" class="buttons">Previous</a>
  <a href="#" class="buttons">Next</a>
  </div>

{% endblock %}
