
{% extends "layout.html" %}
{% block page_content %}

<div class="page">

    <!-- Change This Header -->
    <div class="page-header" style="background-image: url('https://static.igem.wiki/teams/4811/wiki/images/header-project-15-op.jpg');">
      <h1>Sustainability</h1>  
    </div>
    <div class="container page-content">
      <div class="row h-100">

        <!-- place for menu generation -->
        <div class="toc col-lg-5">
          <h5>Menu</h5>
          <ul>
            <li>
            <!-- h2 level, add this #location, and change this menu -->
              <a href="#sustainable-development-goals">> Sustainable Development Goals</a>
            </li>
          </ul>
          <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <path stroke="#fff" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
          </svg>
        </div>

        <!-- formal text goes under this div, h2, h3 should be labeled  -->
        <div class="page-text col-lg-9">
          <h2 id="sustainable-development-goals">Sustainable Development Goals</h2>
          <p>For this years iGEM project, we hope to uphold and push forward three of the UN&#39;s Sustainable Development Goals (SDGs). These include <strong>Clean Water and Sanitation</strong>, <strong>Good Health and Well-being</strong>, and <strong>Life Below Water</strong>. </p>
          <p>Through developing our innovative biosensor, we hope to promote a high turnover effort in PFAS screening in Denmark and across the world. By making our device rapid and low-cost, we hope to help make widespread environmental screening more accesible, helping to keep our water, our wildlife, and ultimatley our health safe. </p>
          
          <figure>
            <img src="https://static.igem.wiki/teams/4811/wiki/sdg.png" alt="sdg" style="max-width: 70%; display: block; margin: 0 auto;">
            <figcaption>Figure 1: Sustainable development goals</figcaption>
          </figure>
                  
       </div>
      </div>
    </div>
  </div>

{% endblock %}
