{% extends "layout.html" %}

{% block page_content %}
<div class="page">
  <div class="background-image"
  style="background-image: url('https://static.igem.wiki/teams/4811/wiki/team/team4.jpeg');
         background-size: cover;
         background-position: top center;
         height: 600px;
         width: 100%;
         transition: background-image 0.3s ease-in-out;">
</div>

<script>
  const backgroundElement = document.querySelector('.background-image');
  let hoverTimeout;

  backgroundElement.addEventListener('mouseenter', function() {
    clearTimeout(hoverTimeout);
    hoverTimeout = setTimeout(() => {
      this.style.backgroundImage = "url('https://static.igem.wiki/teams/4811/wiki/team/team5.jpeg')";
    }, 300); // 300ms delay
  });

  backgroundElement.addEventListener('mouseleave', function() {
    clearTimeout(hoverTimeout);
    hoverTimeout = setTimeout(() => {
      this.style.backgroundImage = "url('https://static.igem.wiki/teams/4811/wiki/team/team4.jpeg')";
    }, 300); // 300ms delay
  });
</script>

  <div class="container page-content">
    <h1>Team Members</h1>
    <!-- New Row -->
    <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/monikagoledowska.jpeg" alt="monikagoledowska2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/monikagoledowska1.jpeg" alt="monikagoledowska1" class="img-cropped">
          </div>
          
          <h3>Monika Gołędowska</h3>
          <p>
Monika, a 24-year-old from Poland. 🇵🇱
Monika is currently pursuing an M.Sc. in Biotechnology and plays a role in our wetlab and wiki efforts. Beyond her dedicated work on the iGEM project, Monika's passions include crafting crochet creations and gaming. 🎮
In just three words, she describes herself as "Hold my poodle" 🚀
Now, let's dive into the most important question: What's her favorite organism? Monika's fascinating choice is the remarkable Didelphidae.
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/albertethude.jpeg" alt="albertethude2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/albertethude1.jpeg" alt="albertethude1" class="img-cropped">
          </div>
          <h3>Alberte Thude</h3>
          <p>
            Alberte, a 26-year-old from Denmark. 🇩🇰
            Alberte is currently pursuing her M.Sc. studies in Biotechnology and plays a role across our wetlab and outreach, and is the visionary behind our iGEM videos. 🎬
            When she's not diving into our project, you'll find Alberte riding the waves on her kayak and relaxing in the warmth of saunas. 🔥🚣‍♀️
            Summing herself up in three words: Energetic, Happy, Passionate. 🌈
            Now, let’s dive into the most important question: What's her favorite organism? Alberte's answer carries her enthusiasm - Coffea arabica. ☕️ 
          </p>
        </div>
      </div>
    </div>

    <!-- New Row -->
    <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/techen.jpeg" alt="techen2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/techen1.jpeg" alt="techen1" class="img-cropped">
          </div>
          
          <h3>Te Chen</h3>
          <p>
            Te, a 30-year-old from China and Canada.
            Currently pursuing an M.Sc. in Biotechnology, Te is a crucial member of our drylab, outreach, and wiki teams.
            When he's not immersed in our exciting iGEM project, you'll find Te conquering boulders, nurturing plants, and capturing moments through his lens. 📸 
            Summing up his essence in three words: Be with nature.🌿
            Now, let's dive into the most important question: What's his favorite organism? Te's captivating choice is the mesmerizing Slime Mold. 🍄
          </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/saraholm.jpeg" alt="saraholm2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/saraholm1.jpeg" alt="saraholm1" class="img-cropped">
          </div>
          <h3>Sara Holm</h3>
          <p>
            Sara, all the way from Denmark at 25 years young. 🇩🇰
            Currently pursuing her M.Sc. in Biotechnology, Sara brings her expertise to our wetlab, outreach, and social efforts for the iGEM project. When she's not immersed in our project, Sara's passions shines through in her love for running and creating delicious baked treats. 🏃‍♀️
            If we had to capture her in three words, it'd be "Time-optimistic plan enthusiast." ⏰
            Now, let's dive into the most important question: What's Sara's favorite organism? Drumroll, please! 🥁 She's all about Lactic Acid Bacteria, thanks to their role in crafting the perfect sourdough and cheese. 🍞🧀
            </p>
        </div>
      </div>
    </div>

     <!-- New Row -->
     <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/laurafigueiredotor.jpeg" alt="laurafigueiredotor2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/laurafigueiredotor1.jpeg" alt="laurafigueiredotor1" class="img-cropped">
          </div>
          
          <h3>Laura Figueiredo Tor</h3>
          <p>
            Laura, hailing from Spain at 23 years young, Laura is currently pursuing her M.Sc. in Bioinformatics and Systems Biology. 🧬📚
            She's a member of our Drylab, handling economy and Wiki-related for our iGEM project. When she's not immersed in our project, you can find Laura indulging in her passions: sports, reading, and cheering for Real Madrid. ⚽️📖
            In just three words, she describes herself as "on my bike." 🚴‍♀️
            And now, the ultimate question: What's her favorite organism? Laura's answer: Rhizobium! 🌱
            </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/anuoswal.jpeg" alt="anuoswal2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/anuoswal1.jpeg" alt="anuoswal1" class="img-cropped">
          </div>
          <h3>Anu Oswal</h3>
          <p>
            Anu, a 24-year-old from India! 🇮🇳
            Currently pursuing her M.Sc. in Bioinformatic and Systems Biology, Anu plays a role in our Drylab, Wiki, and Economy projects for iGEM.
            When she's not immersed in our IGEM research, Anu enjoys indulging in her passion for gaming and getting lost in captivating books.
            If we had to describe her in just three words, it would be "dogs, coffee, and more dogs."🐶☕
            Now, let's dive into the most important question: What's Anu’s favorite organism? Drumroll, please… It's none other than our beloved canine companions!
            </p>
        </div>
      </div>
    </div>


     <!-- New Row -->
     <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/konrad.jpeg" alt="konrad2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/konrad1.jpeg" alt="konrad1" class="img-cropped">
          </div>
          
          <h3>Konrad Uściło</h3>
          <p>
            Konrad, a 25-year-old all the way from Poland!
            📚 Konrad is currently pursuing his M.Sc. in Bioinformatics and Systems Biology, and he brings his expertise to our Human Practices, Drylab, and Wiki teams. 💻 When he's not diving deep into our iGEM project, Konrad can be found immersed in Tabletop miniatures games, showcasing his strategic skills. In just three words, he describes himself as "always going forward." 🚀
            Now, let's get to the most pressing question: What's Konrad's favorite organism? The answer is the remarkable Tardigrade. 🐛🌟
            </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <div class="image-overlay">
              <img src="https://static.igem.wiki/teams/4811/wiki/team/marckessels.jpeg" alt="marckessels2" class="img-cropped">
            </div>
            <img src="https://static.igem.wiki/teams/4811/wiki/team/marckessels1.jpeg" alt="marckessels1" class="img-cropped">
          </div>
          <h3>Marc Kessels Solé</h3>
          <p>
            Marc, a 23-year-old with Spanish and Dutch heritage! Marc is currently pursuing his M.Sc. in Biotechnology and plays a pivotal role in our Wetlab, Admin, Economy, and Human Practices teams. 🧪 When he's not fully immersed in our iGEM project, you'll find Marc honing his skills in karate and creating beautiful melodies on the piano. 🥋🎹 In just three words, he describes himself as "For the story." Now, let's tackle the most pressing question: What's Marc's favorite organism? The answer is the fascinating Elysia timida. 🌿🦋            </p>
        </div>
      </div>
    </div>

         <!-- New Row -->
         <div class="row page-text">
          <div class="col-lg-6">
            <div class="team-member">
              <div class="image-container">
                <div class="image-overlay">
                  <img src="https://static.igem.wiki/teams/4811/wiki/team/elisamartiny.jpeg" alt="elisamartiny2" class="img-cropped">
                </div>
                <img src="https://static.igem.wiki/teams/4811/wiki/team/elisamartiny1.jpeg" alt="elisamartiny1" class="img-cropped">
              </div>
              
              <h3>Elisa Martiny</h3>
              <p>
                Elisa, a 25-year-old from Denmark! 🇩🇰👋
                Elisa is currently pursuing her M.Sc. in Pharmaceutical Design and Engineering. She brings her expertise to our team, contributing to our Wetlab, Admin, Outreach, and our Social Media presence. 🧪
                When Elisa isn't busy working on our iGEM project, she enjoys staying active with sports, unleashing her creativity through crafts, and nurturing her beloved plants. 🌿 In just three words, she describes herself as a "Chaotic Plant Mama." 🌪️🌿
                Now, let's dive into the most important question: What's Elisa's favorite organism? Drumroll, please… It's none other than the mesmerizing Costasiella Kuroshimae! 🌈🐌
                </p>
            </div>
          </div>
    
          <div class="col-lg-6">
            <div class="team-member">
              <div class="image-container">
                <div class="image-overlay">
                  <img src="https://static.igem.wiki/teams/4811/wiki/team/kasperkrunderupjakobsen.jpeg" alt="kasperkrunderupjakobsen2" class="img-cropped">
                </div>
                <img src="https://static.igem.wiki/teams/4811/wiki/team/kasperkrunderupjakobsen1.jpeg" alt="kasperkrunderupjakobsen1" class="img-cropped">
              </div>
              <h3>Kasper Krunderup Jakobsen</h3>
              <p>
                Kasper, a 22-year-old from is from Denmark. 🇩🇰
                Kasper is pursuing a Master's degree in Biotechnology. With expertise in Wetlab, Admin, and Economy, they are vital part of our iGEM project. 💪
                Beyond the lab, Kasper's passions lie in photography and being an enthusiastic scout. 📸⚜️ When asked to describe themselves in just three words, they playfully said: "Hold my Eppendorf!" 😄
                Now, let's dive into the most important question: What's Kasper's favorite organism? Drumroll, please.. It's the fascinating Axolotl! 🌊
                </p>
            </div>
          </div>
        </div>

        <!-- New Row -->
        <div class="row page-text">
        <div class="col-lg-6">
          <div class="team-member">
            <div class="image-container">
              <div class="image-overlay">
                <img src="https://static.igem.wiki/teams/4811/wiki/team/federicociampi.jpeg" alt="federicociampi2" class="img-cropped">
              </div>
              <img src="https://static.igem.wiki/teams/4811/wiki/team/federicociampi1.jpeg" alt="federicociampi1" class="img-cropped">
            </div>
            
            <h3>Federico Ciampi</h3>
            <p>
              Federico, a 24-year-old from Italy. 🇮🇹
              Federico is currently pursuing his M.Sc. in Biotechnology and plays a role in our Wetlab and economy. When he's not dedicating his time to our iGEM project, you can find him strumming melodies on his guitar. 🎸🔬
              When asked to describe himself in just three words, Federico confidently replied: "Mother of good ideas." While it may not be three words exactly, we'll accept it.
              But here's the question that truly matters: What's Federico's favorite organism? His answer: Sciurus Vulgaris. 🌳🐿️
              </p>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="team-member">
            <div class="image-container">
              <div class="image-overlay">
                <img src="https://static.igem.wiki/teams/4811/wiki/team/yahyafarooqi.jpeg" alt="yahyafarooqi2" class="img-cropped">
              </div>
              <img src="https://static.igem.wiki/teams/4811/wiki/team/yahyafarooqi1.jpeg" alt="yahyafarooqi1" class="img-cropped">
            </div>
            <h3>Yahya Farooqi</h3>
            <p>
              Yahya, a 22-year-old from Canada. 🇨🇦
              Currently pursuing an M. Sc. in Biotechnology, Yahya plays a vital role in our team, contributing to our DryLab, Admin, "Wetlab," Outreach, and Wiki initiatives! 🧪
              When Yahya isn't busy working on our incredible iGEM project, they dedicate their time to researching orcas. If we had to describe Yahya in three words, it would be: Enthusiastic about orcas. 🐳
              Now, let's dive into the most important question: What's Yahya's favorite organism? Drumroll, please... It's none other than Orcinus Orca, the mighty killer whale!
              </p>
          </div>
        </div>
      </div>

         <!-- New Row -->
         <div class="row page-text">
          <div class="col-lg-6">
            <div class="team-member">
              <div class="image-container">
                <div class="image-overlay">
                  <img src="https://static.igem.wiki/teams/4811/wiki/team/ericfarrerons.jpeg" alt="ericfarrerons2" class="img-cropped">
                </div>
                <img src="https://static.igem.wiki/teams/4811/wiki/team/ericfarrerons1.jpeg" alt="ericfarrerons1" class="img-cropped">
              </div>
              
              <h3>Eric Bautista</h3>
              <p>
                Eric, a 25-year-old from Spain. 🇪🇸
                Currently pursuing his M. Sc. in Bioinformatic and Systems Biology, Eric is contributing to our DryLab, Admin, Wiki, and outreach efforts! 📚
                When he's not immersed in our iGEM project, Eric loves playing the piano and hitting the gym to stay active. And if you asked him to describe himself in three words, he'd say: Calm, Dog-lover, and Gamer.
                Now, let's get to the important question: What's Eric's favorite organism? Drumroll, please... It's none other than Schizosaccharomyces pombe! 🍻
                </p>
            </div>
          </div>
    
         </div>
  </div>

  <div class="container page-content">
    <h1>Supervisors</h1>
    <!-- New Row -->
    <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4811/wiki/team/kristian.jpeg" alt="kristian" class="img-cropped">
          </div>
          
          <h3>Kristian Barret</h3>
          <p>
            Meet Kristian, our main supervisor! Kristian is a part of the Protein Chemistry 
            and Enzyme technology research group, where his research is within digital enzyme 
            technology and enzyme discovery - deploying bioinformatics to systemize the 
            ever-growing number of microbial protein sequences to facilitate novel discoveries 
            in the lab. This makes him an amazing supervisor for drylab.
          </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4811/wiki/team/signevangsgaard.jpeg" alt="signevangsgaard" class="img-cropped">
          </div>
          <h3>Signe Vangsgaard</h3>
          <p>
            Meet Signe, maybe you recognize from our 2021 iGEM team! Signe is now doing
             a Ph.d. with gentle peeling of prawns and how to achieve a higher quality. 
             With her experience from iGEM and her expertise in the lab, she is a great 
             help to wetlab along with advice to different subgroups. To her, being 
             an iGEM supervisor is a very giving task since she gets to help the team 
             achieve great things and solve difficult problems.</p>
        </div>
      </div>
    </div>

    <!-- New Row -->
    <div class="row page-text">
      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4811/wiki/team/noel1.jpeg" alt="noel1" class="img-cropped">
          </div>
          
          <h3>Noël Jung</h3>
          <p>
            Meet Noël, our last supervisor. Noël is also a part of the protein 
            chemistry and enzyme technology research group at DTU. His Ph.d. research 
            is within fungal fermentation as a tool to develop healthy plant-based food. 
            Noël is excited to support and help DTU’s iGEM team where iGEM to him is 
            a microcosm for all the great synthetic biology ideas that will shape our future.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="team-member">
          <div class="image-container">
            <img src="https://static.igem.wiki/teams/4811/wiki/team/kristina1.jpeg" alt="kristina1" class="img-cropped">
          </div>
          <h3>Kristine Stub Rønø Clausen</h3>
          <p>Meet Kristine, one of our supervisors for wetlab. Kristine is also a part 
            of the Protein Chemistry and Enzyme technology research group, where she 
            is doing her Ph.d. Her research is within engineering and characterization 
            of plastic degrading enzymes. Kristine enjoys being a supervisor for iGEM 
            because it shows another different vibrant side of science.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
