<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4811/wiki/images/favicon.ico"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'js/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <title>{% block title %}FluoroLoop{% endblock %} | DTU-Denmark</title>

    <!-- Latex -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


      <!-- Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/lottie.min.js') }}"></script>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->
  <!-- Page Content -->

  {% block page_content %}{% endblock %}

  {% if not is_homepage %}
  <script>
    var toc = document.querySelector( '.toc' );
    var tocPath = document.querySelector( '.toc-marker path' );
    var tocItems;
    // Factor of screen size that the element must cross
    // before it's considered visible
    var TOP_MARGIN = 0.1,
        BOTTOM_MARGIN = 0.1;
    var pathLength;
    window.addEventListener( 'resize', drawPath, false );
    window.addEventListener( 'scroll', sync, false );
    drawPath();
    function drawPath() {
      
      tocItems = [].slice.call( toc.querySelectorAll( 'li' ) );
      // Cache element references and measurements
      tocItems = tocItems.map( function( item ) {
        var anchor = item.querySelector( 'a' );
        var target = document.getElementById( anchor.getAttribute( 'href' ).slice( 1 ) );
        return {
          listItem: item,
          anchor: anchor,
          target: target
        };
      } );
      // Remove missing targets
      tocItems = tocItems.filter( function( item ) {
        return !!item.target;
      } );
      var path = [];
      var pathIndent;
      tocItems.forEach( function( item, i ) {
        var x = item.anchor.offsetLeft - 5,
            y = item.anchor.offsetTop,
            height = item.anchor.offsetHeight;
        if( i === 0 ) {
          path.push( 'M', x, y, 'L', x, y + height);
          item.pathStart = tocPath.getTotalLength() || 0;
        }
        else {
          // Draw an additional line when there's a change in
          // indent levels
          if( pathIndent !== x ) path.push( 'L', pathIndent, y );
          path.push( 'L', x, y );
          
          // Set the current path so that we can measure it
          tocPath.setAttribute( 'd', path.join( ' ' ) );
          item.pathStart = tocPath.getTotalLength() || 0;
          
          path.push( 'L', x, y + height );
        }
        
        pathIndent = x;
        
        tocPath.setAttribute( 'd', path.join( ' ' ) );
        item.pathEnd = tocPath.getTotalLength();
      } );
      
      pathLength = tocPath.getTotalLength();
      
      sync();
      
    }
    function sync() {
      
      var windowHeight = window.innerHeight;
      
      var pathStart = Number.MAX_VALUE,
          pathEnd = 0;
      
      var visibleItems = 0;
      
      tocItems.forEach( function( item ) {
        var targetBounds = item.target.getBoundingClientRect();
        
        if( targetBounds.bottom > windowHeight * TOP_MARGIN && targetBounds.top < windowHeight * ( 1 - BOTTOM_MARGIN ) ) {
          pathStart = Math.min( item.pathStart, pathStart );
          pathEnd = Math.max( item.pathEnd, pathEnd );
          
          visibleItems += 1;
          
          item.listItem.classList.add( 'visible' );
        }
        else {
          item.listItem.classList.remove( 'visible' );
        }
        
      } );
      
      // Specify the visible path or hide the path altogether
      // if there are no visible items
      if( visibleItems > 0 && pathStart < pathEnd ) {
        tocPath.setAttribute( 'stroke-dashoffset', '1' );
        tocPath.setAttribute( 'stroke-dasharray', '1, '+ pathStart +', '+ ( pathEnd - pathStart ) +', ' + pathLength );
        tocPath.setAttribute( 'opacity', 1 );
      }
      else {
        tocPath.setAttribute( 'opacity', 0 );
      }
    }

    tocItems.forEach(function (item) {
  item.anchor.addEventListener('click', function (e) {
    e.preventDefault(); // Prevent default link behavior

    var targetId = this.getAttribute('href').slice(1); // Get the target section's id
    var targetSection = document.getElementById(targetId);

    if (targetSection) {
      // Calculate the scroll position, including an additional 40 pixels offset
      var offset = targetSection.offsetTop - 100;

      // Scroll to the target section with the calculated offset
      window.scrollTo({
        top: offset,
        behavior: 'smooth' // Add smooth scrolling behavior
      });
    }
  });
});
  </script>
  {% endif %}

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}



</body>
</html>
