body { padding-top: 56px; }
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #343a40 !important; }
.bg-hero { background-color: #45b06cff; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }

/* Default colour */
:root {
  --tomato-red: #E65929;
  --crimson-red: #BA2424;
  --black: #000000;
  --fresh-green: #7ED957;
  --deep-sky-blue: #0097B2;
  --sky-blue: #1D9CD8;
  --light-sky-blue: #24B8F2;
  --soft-blue: #9CD8EF;
  --light-gray: #F2F2F2;
  --ocean-surface: #2B76D9;
  --ocean-middle: #020659;
  --ocean-deep: #010440;
}

/* text block */
.text-block {
  width: 400px;
  height: 400px;
  background: url('text-background.svg') no-repeat center center;
  background-size: cover; /* Ensure background image covers the entire div */
  padding: 20px; /* Optional: for some inner spacing */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

@media (max-width: 767px) {
  .text-block {
      width: 100%; /* Full width on small screens */
      height: auto; /* Auto height based on content */
  }
}

/* ocean */
.ocean {
  left: 0px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}

.wave {
background: url("/static/images/wave.svg");
position: absolute;
width: 200%;
height: 100%;
left: 0;
animation: wave 8s -3s linear infinite;
transform: translate3d(0, 0, 0);
opacity: 0.8;
}

.wave:nth-of-type(2) {
animation: wave 18s linear reverse infinite;
opacity: 0.5;
left: 0;
}

.wave:nth-of-type(3) {
animation: wave 10s -1s linear infinite;
opacity: 0.5;
left: 0;
}

@keyframes wave {
  0% {transform: translateX(0);}
  50% {transform: translateX(-25%);}
  100% {transform: translateX(-50%);}
}

/* Main page content */
.text-background{
  background: url("/static/images/text-background.svg");
  width: 200%;
  height: 200%;
}

.main-content {
  position: relative;
  top: 48px;
  width: 100%;
  height: 100%;
}
